<html>
    <body background="/images/background.jpg">
    <br><br><br>
    <center>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">  
            <tr>
                <th><img src="/images/symbol.png" alt="indian emble" width="300"></th>
            <td>
                <table border='1' cellpadding='5' cellspacing='0' width='90%' align="center">
                    <tr>
                        <th><img src='/images/logo1.png' width='100'></th>
                        <td align='center'>
                            <FONT face='impact' size='5' color='red'>CENTRAL BOARD OF SECONDARY EDUCATION</FONT><br>
                            <h3><b>Committed to Equity and Excellence in Education</b></h3>
                        </td>
                    </tr>
                </table><BR>
                <table border='1' cellpadding='5' cellspacing='0' width='90%' align="center">
                    <tr>
                        <td><b>
                                <%= schoolname %> SCHOOL <br>
                                    <%= studentn %>
                                        <%= mm %>
                                            <%= fathern %> <br>Roll no.: <%= rollno %> <br>
                                                    <%= birth %>
                            </b></td>
                    </tr>
                </table><br>
                <table border='1' cellpadding='5' cellspacing='0' width='90%' align="center">
                    <tr>
                        <th>Sub Code</th>
                        <th>Subjects</th>
                        <th>MIN</th>
                        <th>MAX</th>
                        <th>Marks</th>
                        <th>Remarks</th>
                    </tr>
                    <tr>
                        <th>301</th>
                        <th>Hindi</th>
                        <th>35</th>
                        <th>100</th>
                        <td><%= hin %></td>
                        <td><%= re1 %></td>
                    </tr>
                    <tr>
                        <th>302</th>
                        <th>English</th>
                        <th>35</th>
                        <th>100</th>
                        <td><%= eng %></td>
                        <td><%= re2 %></td>
                    </tr>
                    <tr>
                        <th>303</th>
                        <th>Mathematics</th>
                        <th>35</th>
                        <th>100</th>
                        <td><%= math %></td>
                        <td><%= re3 %></td>
                    </tr>
                    <tr>
                        <th>304</th>
                        <th>Physics</th>
                        <th>35</th>
                        <th>100</th>
                        <td><%= phy %></td>
                        <td><%= re4 %></td>
                    </tr>
                    <tr>
                        <th>305</th>
                        <th>Chemistry</th>
                        <th>35</th>
                        <th>100</th>
                        <td><%= che %></td>
                        <td><%= re5 %></td>
                    </tr>
                </table>
                <table border='1' cellpadding='5' cellspacing='0' width='90%' align="center">
                    <tr>
                        <td>Total Number:<%= tn %></td>
                        <td>Percentage: <%= per %>%
                        <td> Division: <%= div %></td>
                        <td><%= pf %></td>
                    </tr>
                </table>
            </td>
                <th><img src="/images/symbol.png" alt="indian emble" width="300"></th>
            </tr>
        </table>

    </center>
</body>
</html>